<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <div class="contaner">
        <a href="#"><img src="../../svg/Logo (1).svg" alt="" /></a>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Extra Salespage</a></li>
            <li><button>Get your free guide now</button></li>
          </ul>
          <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </nav>
      </div>
    </header>
    <script src="../../script/header.js"></script>
  </body>
</html>
