<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <footer>
      <div class="wrapper-serch">
        <div>
          <h2>Get notified when I publish new articles</h2>
          <p>
            Stay up to date with the latest news, announcements, and articles.
          </p>
        </div>
        <div class="wrapper-input">
          <input type="email" placeholder="Enter your email" />
          <button>Subscribe</button>
        </div>
      </div>
      <div class="contaner-footer">
        <div>
          <img
            src="../../svg/Logo (1).svg"
            alt="logo
            "
          />
          <p>
            Design amazing digital experiences that create more happy in the
            world.
          </p>
        </div>
        <div>
          <ul>
            <li>
              <h5>Pages</h5>
            </li>
            <li>
              <a href="#">Home </a>
            </li>
            <li>
              <a href="#">Services </a>
            </li>
            <li>
              <a href="#">About us </a>
            </li>
            <li>
              <a href="#">Extra Sales/Landingpage </a>
            </li>
            <li>
              <a href="#">Free guide </a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              <h5>Contact</h5>
            </li>
            <li>
              <a href="">+123 456 789 </a>
            </li>
            <li>
              <a href="">hello@happydigital.nl </a>
            </li>
            <li>
              <a href="">Instagram </a>
            </li>
            <li>
              <a href="">LinkedIn9 </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contaner-last-section">
        <a href="">Made by</a>
        <ul class="wapper-svgs">
          <li>
            <a href="">
              <img src="../../svg/Linkinding.svg" alt="linkidin" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../svg/Instagram.svg" alt="instagram" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="../../svg/Twiter.svg" alt="Twiter" />
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
